.container{
  min-width:1024px;
  margin:0 auto;
}

.layout-header{
  
}

.layout-body{
  display:flex;
  padding:0 50px 0 50px;
  
  .layout-nav{
    width:25%;
    border-top:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
  }

  .layout-content{
    border-top:1px solid #e5e5e5;
    width:75%;
  }
}



.card-list{
  display:flex;
  margin: 20px;
  flex-wrap:wrap;
}

.card{
  display:block;
  width:28%;
  height:300px;
  margin: 0 20px 20px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  position: relative;

  .card-img{
    width:100%;
    height:auto;
    .card-img__content{
      width:100%;
      height:100%;

    }
  }

  .card-body{
    // display:block;
    padding:10px;
    // width:100%;
    height:48px;

    .card-body__title{

    }

    .card-body__sideinfo{
      display:flex;
      position:absolute;
      right:20px;
      bottom:10px;

      .card-body__favo{
        .card-body__favo_icon{
          .favo{
            color:red;
          }

          .not_favo{
            color: black;
          }
        }
        .card-body__favo_count{
          margin-left:5px;
        }
      }

      .card-body__pv{
        margin-left:10px;
        .card-body__pv_icon{

        }

        .card-body__pv_count{
          margin-left:5px;
        }
      }
    }
  }
}

.card-list-horizontal{
  margin:20px;
}
.card-horizontal{
  display: flex;
  margin: 0 0 16px 0;
  border: 1px solid #e5e5e5;
  padding:16px;
  border-radius:4px;
  position: relative;

  .card-img{
    width:300px;
    height:200px;
    .card-img__content{
      width:100%;
      height:100%;
    }
  }

  .card-body{
    margin: 0 16px 0 16px;
    flex:1;

    .card-body__title{
      display:inline-block;
      font-size:20px;
      font-weight: bold;
      color:#000a12;
      margin-bottom:10px;
    }

    .card-body__area{
      display:inline-block;
      background-color: #e5e5e5;
      color:#4a4a4a;
      padding:4px 8px;
      font-size:12px;
      border-radius: 6px;
      margin-left:10px;
      line-height: 16px;
    }
    .card-body__description{
      padding-bottom:5px;
      margin-bottom:10px;
      border-bottom:1px solid #e5e5e5;
    }
    .card-body__tag{
      display: inline-block;
      padding:5px 10px;
      margin:0 10px 10px 0;
      background-color: #fff;
      color:#00a680;
      border: 1px solid #00a680;
      border-radius: 5px;
    }

    .card-body__sideinfo{
      display:flex;

      .card-body__favo{
        .card-body__favo_icon{
          .favo{
            color:red;
          }

          .not_favo{
            color: black;
          }
        }

        .card-body__favo_count{
          margin-left:5px;
        }
      }

      .card-body__pv{
        margin-left:20px;
        .card-body__pv_icon{

        }
        .card-body__pv_count{
          margin-left:5px;
        }

      }
    }

    .card-body__link{
      padding:5px 10px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-size:20px;
      border:1px solid #fc0;
      background-color:#fc0;
      color:#fff;
      border-radius: 4px;
    }

  }
}

.nav{
  margin:20px;

  .nav-title{
    font-size: 20px;
    font-weight: normal;
    padding:23px 0 25px;
    &:nth-child(n + 2){
      border-top:1px solid #e5e5e5;
      margin-top:50px;
    }
  
  }

  .nav-selected__tags{
    .nav-selected__tag{
      display:block;
      margin-bottom:5px;
    }
  }

  .nav-form__checkbox{
    display:block;
    margin-bottom:5px;
  }
}
.header-box{
  width:500px;
  margin: 0 auto;

  .header-title{
    font-size:34px;
    color:#000a12;
    font-weight: bold;
    margin:20px 0 20px;
  }

  .header-form{
    display: flex;
    margin-bottom:20px;
  }
}

.sort{
  display:flex;
  margin:20px 20px 20px;
  border-bottom:1px solid #e5e5e5;
  .sort-title{
    padding-bottom:15px;

  }
  .sort-list{
    .sort-item{
      display:inline-block;
      padding: 0 10px 15px;
    }
    .active{
      border-bottom:5px solid #00a680;
    }

  }
}

.main-link{
  text-align: center;
}
.link__more{
  text-decoration: none;
  color:#00a680;
  border:1px solid #00a680;
  font-size:20px;
  padding:10px 15px;
  border-radius: 20px;
}

.breadcrumb{
  background-color:#efefef;
  padding:10px 20px 10px 25px;
  margin-top:3px;
}

.checkbox-form{
  padding-left:10px; 
}

.checkbox-item{
  margin-bottom:20px;

  .checkbox-item__input{
    display: none;
  }
  .checkbox-item__label{
    padding-left: 20px;
    position:relative;
    margin-right: 20px;
  }
  .checkbox-item__label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 4px;
  }
  .checkbox-item__input:checked + .checkbox-item__label{
    color: #009a9a;
  }
  .checkbox-item__input:checked + .checkbox-item__label::after{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #009a9a;
    border-right: 3px solid #009a9a;
  }
}


.btn01 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn01:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}