.container{
  min-width:1024px;
  margin:0 auto;
}

.layout-header{
  
}

.layout-body{
  display:flex;
  padding:0 50px 0 50px;
  
  .layout-nav{
    width:25%;
    border-top:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
  }

  .layout-content{
    border-top:1px solid #e5e5e5;
    width:75%;
  }
}



.nav{
  margin:20px;

  .nav-title{
    font-size: 20px;
    font-weight: normal;
    padding:23px 0 25px;
    &:nth-child(n + 2){
      border-top:1px solid #e5e5e5;
      margin-top:50px;
    }
  
  }

  .nav-selected__tags{
    .nav-selected__tag{
      display:block;
      margin-bottom:5px;
    }
  }

  .nav-form__checkbox{
    display:block;
    margin-bottom:5px;
  }
}
.header-box{
  width:500px;
  margin: 0 auto;

  .header-title{
    font-size:34px;
    color:#000a12;
    font-weight: bold;
    margin:20px 0 20px;
  }

  .header-form{
    display: flex;
    margin-bottom:20px;
  }
}

.sort{
  display:flex;
  margin:20px 20px 20px;
  border-bottom:1px solid #e5e5e5;
  .sort-title{
    padding-bottom:15px;

  }
  .sort-list{
    .sort-item{
      display:inline-block;
      padding: 0 10px 15px;
    }
    .active{
      border-bottom:5px solid #00a680;
    }

  }
}

.main-link{
  text-align: center;
}
.link__more{
  text-decoration: none;
  color:#00a680;
  border:1px solid #00a680;
  font-size:20px;
  padding:10px 15px;
  border-radius: 20px;
}
